In [40]:
import os
import pandas as pd

In [41]:
os.chdir("/Users\Jonathan Challenger\OneDrive\Python\Web scraping")

In [66]:
df = pd.read_csv("movie_info.csv", encoding = 'unicode_escape')
df.head()

                             Title   Rating   Rating_Count   Genre
0  The Shawshank Redemption (1994)      9.3        2225161   Drama
1             The Godfather (1972)      9.2        1533467   Crime
2    The Godfather: Part II (1974)      9.0        1073363   Crime
3           The Dark Knight (2008)      9.0        2199162  Action
4              12 Angry Men (1957)      8.9         650404   Drama

In [67]:
df.columns = ['Title', 'Rating', 'Rating_Count', 'Genre']
df.head()

                             Title  Rating  Rating_Count   Genre
0  The Shawshank Redemption (1994)     9.3       2225161   Drama
1             The Godfather (1972)     9.2       1533467   Crime
2    The Godfather: Part II (1974)     9.0       1073363   Crime
3           The Dark Knight (2008)     9.0       2199162  Action
4              12 Angry Men (1957)     8.9        650404   Drama

In [68]:
df.shape

(250, 4)

In [69]:
df.dtypes

Title            object
Rating          float64
Rating_Count      int64
Genre            object
dtype: object

In [70]:


df2 = pd.DataFrame(df.Title.str.split('\xa0', 1).tolist(), columns = ['Title', 'Year'])
df2.head()

                      Title    Year
0  The Shawshank Redemption  (1994)
1             The Godfather  (1972)
2    The Godfather: Part II  (1974)
3           The Dark Knight  (2008)
4              12 Angry Men  (1957)

In [71]:
df2['Rating'] = df.Rating
df2['Rating count'] = df.Rating_Count
df2['Genre'] = df.Genre
df2.head()

                      Title    Year  Rating  Rating count   Genre
0  The Shawshank Redemption  (1994)     9.3       2225161   Drama
1             The Godfather  (1972)     9.2       1533467   Crime
2    The Godfather: Part II  (1974)     9.0       1073363   Crime
3           The Dark Knight  (2008)     9.0       2199162  Action
4              12 Angry Men  (1957)     8.9        650404   Drama

In [72]:
df2.columns = ['Title', 'Year', 'Rating', 'Rating count', 'Genre']
df2.head()

                      Title    Year  Rating  Rating count   Genre
0  The Shawshank Redemption  (1994)     9.3       2225161   Drama
1             The Godfather  (1972)     9.2       1533467   Crime
2    The Godfather: Part II  (1974)     9.0       1073363   Crime
3           The Dark Knight  (2008)     9.0       2199162  Action
4              12 Angry Men  (1957)     8.9        650404   Drama

In [73]:
df2.shape

(250, 5)

In [74]:
def split(item):
    return [char for char in item]

In [79]:
release = []
for i in df2.Year:
    i = split(i)
    i = i[1:-1]
    i = ''.join(i)
    release.append(i)
    
df2['Year'] = pd.Series(release)
df2.head()

                      Title  Year  Rating  Rating count   Genre
0  The Shawshank Redemption  1994     9.3       2225161   Drama
1             The Godfather  1972     9.2       1533467   Crime
2    The Godfather: Part II  1974     9.0       1073363   Crime
3           The Dark Knight  2008     9.0       2199162  Action
4              12 Angry Men  1957     8.9        650404   Drama

In [80]:
df2.dtypes

Title            object
Year             object
Rating          float64
Rating count      int64
Genre            object
dtype: object

In [83]:
df2.Year = df2.Year.astype(int)
df2.head()

                      Title  Year  Rating  Rating count   Genre
0  The Shawshank Redemption  1994     9.3       2225161   Drama
1             The Godfather  1972     9.2       1533467   Crime
2    The Godfather: Part II  1974     9.0       1073363   Crime
3           The Dark Knight  2008     9.0       2199162  Action
4              12 Angry Men  1957     8.9        650404   Drama

In [84]:
df2.dtypes

Title            object
Year              int32
Rating          float64
Rating count      int64
Genre            object
dtype: object

In [86]:
df2.to_csv(r'C:\Users\Jonathan Challenger\OneDrive\Python\Web scraping\movie_data_clean.csv', index = False, header = True)